@{
    ViewBag.Title = "Index";
}

<div id="marI" class="jumbotron">
    <div class="box">
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control" onkeyup="loadDados();">
        </div>
    </div>
    <div id="imgLoad">
        <img src="~/Img/ajax-loader.gif" width="20" class="center-block" />
    </div>
    <div id="marIinfo">
        @*<div class="info">
            <div id="divI">
                <p>Nome: <span>Lauredi Gustavo Cappellari</span></p>
                <p>E-mail: <span>Lauredi.g.c.rigoni@gmail.com</span></p>
            </div>
            <div id="divII">
                <a href="#">Editar</a> | <a href="#">Excluir</a>
            </div>
        </div>
        <hr />*@
    </div>
</div>

<div id="marII" class="jumbotron">
    <form id="form">
        <div class="form-group">
            <label for="IdUsu">ID</label>
            <input type="text" class="form-control" id="IdUsu" placeholder="Id" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="Nome">Nome: </label>
            <input type="text" class="form-control" id="Nome" placeholder="Nome" maxlength="50" />
        </div>
        <div class="form-group">
            <label for="Email">E-mail: </label>
            <input type="email" class="form-control" id="Email" placeholder="E-mail" maxlength="50" />
        </div>
        <button type="button" class="btn btn-primary center-block" id="btnAdd" onclick="return add();">Adicionar</button>
        <button type="button" class="btn btn-primary center-block" style="display:none;" id="btnUpdate" onclick="return update();">Atualizar</button>
    </form>
</div>